*{
    margin: 0;
    padding: 0;
}
/* navbar start */
.icon2{
    display: none;
}
.logo{
    margin-left: 1rem;
}
.list{
    margin-left: 12rem;
}
.list li{
    list-style: none;
    float: left;
    margin-left: 2rem;
}
.list li a{
    color: #505050;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
}
.icon{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.664);
    line-height: 1.7;
    font-weight: 400;
    margin-left: 5px;
}
@media screen and (max-width: 600px){
    .list{
        display: none;
    }
    .mainicon{
        display: none;
    }
    .logo1 {
        margin-top: 5px;
      width: 50%;
    }
    .icon2{
      margin-right: 10px;
      display: block;
    }
    .icon2{
        font-size: 25px;
    }
}
/* navbar end */
/* background start */
.background{
    background-image: url(../img/background.jpg);
    width: 100%;
    height: 35rem;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 1rem;
}
.text{
    margin-left: 5rem;
    padding-top: 5rem;
}
.text h2{
    font-size: 32px;
    color: white;
}
.text hr{
    border: white solid 2px;
    width: 40%;
}
.text h1{
    font-size: 4rem;
    color: white;
}
.button{
    font-size: 25px;
    margin-top: 1rem;
    background-color: tomato;
    outline: none;
}
.button:hover{
    border: black solid 1px;
    background-color: black;
    text-align: left;
transition: ease-in 0.4s;
}
@media screen and (max-width: 600px){
        .text h1{
            font-size: 2rem;
        }
        .text hr{
            width: 82%;
        }
        .button{
            font-size: 20px;
        }
        .text h2{
        font-size: 20px;
        }
        .text img{
            margin-top: 1rem;
        }
    }
/* background end */
/* mobile start */
.maindiv{
   margin-left: 52px;
   margin-top: 3rem;
}
.divimg1{
    background-image: url(../img/divimg.jpg);
    height: 20rem;
}
.divimg2{
    background-image: url(../img/divimg2.jpg);
    height: 20rem;
    margin-left: 145px;
}
.divimg1 h1{
    color: white;
    margin-top: 10rem;
    display: inline-block;
}
.icon3{
    color: #f5614d;
    font-size: 30px;
    display: inline;
    margin-left: 5px;
}
.divimg2 h1{
    color: white;
    margin-top: 10rem;
    display: inline-block;
}
@media screen and (max-width: 600px){
    .divimg1{
        display: block;
    }
    .divimg2{
        display: block;
        margin-left: 0rem;
    }
    .maindiv{
        margin-left: 0rem;
    }
    .divimg1{
        background-image: url(../img/divimg.jpg);
        height: 22rem;
       
    }
    .divimg2{
        background-image: url(../img/divimg2.jpg);
        height: 22rem;
        margin-top: 2rem;
    }
    .mobile{
        padding-left: 0;
        padding-right: 0;
    }
    .background{
        width: 104%;
    }
}
/* mobile end */
/* sale start */
.sale{
    background-image: url(../img/background2.jpg);
    width: 90%;
    height: 30rem;
    margin: auto;
}
.saletext h1{
    color: white;
    padding-top: 5rem;

}
.weeks{
    display: flex;
    padding-top: 8rem;
    margin-left: 6rem;
}
.weeks h2{
    color: white;
    margin-left: 4rem;
    font-size: 35px;
    font-weight: 900;
}
@media screen and (max-width: 600px){
    .sale{
        margin-right: 10px;
        background-size: inherit;
    }
    .weeks{
        margin-top: 1rem;
       margin-left: 0;
       width: 99%;
    }
    .weeks h2{
        font-size: 15px;
        margin-left: 1rem;
    }
    .shopdiv{
        padding-left: 56px;
    }
}
/* sale end */
/* check start */
.check{
    margin-top: 5rem;
}
.checktext h1{
font-size: 30px;
font-weight: 900;
}
.checktext p{
    color: #3f3f3f;
    font-weight: 400;
    font-size: 25px;
}
.shop2{
    margin-left: 0;
    margin-right: 0;
}
.button2:hover{
background-color: #f5614d;
transition: ease 0.5s;
color: white;
border: #f5614d solid 1px;
}
.button2{
    margin-left: 1rem;
    margin-top: 1rem;
}
.col-md-3 img{
width: 300px;    
}
.shop2{
    margin-top: 3rem;
}
.shopdiv hr{
    width: 80%;
    display: inline-block;
    margin-top: -1rem;
}
.shopdiv h1{
    font-family: "Montserrat";
    color: #3f3f3f;
    font-weight: 700;
    font-size: 25px;
    margin-top: 1rem;
}
.shopdiv h4{
    text-decoration: line-through;
    display: inline;
    color: #ccc;
    font-size: 18px;
}
.shopdiv h2{
    font-size: 18px;
    font-weight: 500;
    display: inline;
    margin-left: 5px;
}
/* check end */
/* Subscribe start */
.subscribe{
    background-image: url(../img/background.jpg);
    height: 35rem;
    margin-top: 5rem;
}
.textsub{
    width: 50%;
    float: right;
    margin-top: 5rem;
}
.textsub h1{
    color: white;
    width: 80%;
    text-align: left;
  
}
.textsub p{
    color: white;
    width: 80%;
    text-align: left;
}
.email{
    width: 60%;
    height: 3rem;
    border: white solid 1px;
    border-radius: 100px;
    padding-left: 1rem;
    outline: none;
}
.textsub button{
    width: 20%;
    height: 3rem;
    border: transparent solid 1px;
    border-radius: 100px;
}
.textsub button:hover{
    background-color: #3f3f3f;
    transition: ease 0.7;
    border: #3f3f3f solid 1px;
}
.textsub h3{
    color: white;
    font-size: 20px;
    margin-top: 3rem;
    padding-left: 4rem;
}
.youtube{
    width: 50%;
}
.icon4{
    color: white;
    font-size: 25px;
    padding-left: 4rem;
    padding-top: 2rem;
}
@media screen and (max-width: 600px){
    .textsub{
        width: 100%;
    }
    .textsub h1{
        font-size: 30px;
    }
    .textsub button{
width: 30%;
margin-right: 7rem;
margin-top: 1rem;
    }
    .email{
        display: block;
    }
    .icon4{
        display: inline;
    }
    .col-md-2{
        width: 2rem;
        height: 2rem;
        margin-right: 20rem;
    }
    .shopdiv{
        margin-top: 2rem;
    }
    .subscribe{
        width: 104%;
    }
}

/* Subscribe end */
